/* ---------------------------------------------------------------------- */
/*  OE Generic Widget Styles
/* ---------------------------------------------------------------------- */
#oeAssignment6Jefin {
    .parent-container {
        display       : flex;
        text-align    : center;
        flex-direction: column;
        background    : #fafafa;
        padding       : 2em;

        .container-title {
            h3 {
                margin     : 0 0 20px 0;
                font-weight: normal;
            }
        }

        .container-elements {
            display        : flex;
            justify-content: center;
            column-gap     : 3em;
            flex-wrap      : wrap;

            .element {
                width          : 10em;
                height         : 10em;
                border-radius  : 3px;
                display        : flex;
                flex-direction : column;
                justify-content: space-evenly;

                &:hover {
                    background: rgba(255, 255, 255, 0.4);
                    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .4);
                }

                #cc_img__resize_wrapper {
                    height: auto !important;

                    img {
                        width: 45%;
                    }
                }

            }
        }
    }
}